body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: darkcyan;
    margin: 0;
}

.profile-card {
    width: 400px;
    height: auto; 
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; 
}

.profile-location {
    padding-top: 15px;
    font-size: 14px;
}


.profile-bookmark {
    width: 10px;
    height: 10px;
}

.profile-wraper-girl{
    padding-top: 10px;
}
.profile-image {
    width: 220px; 
    height: 220px;
    border-radius: 50%; 
    border: 2px solid gray;
    padding: 5px;
    box-shadow: 6px 6px 6px rgb(201, 187, 187);
    object-fit: cover;
    object-position: 0 5%;
}

.profile-name {
    padding-top: 5px;
    font-size: 24px;
    padding-bottom: 10px;
    font-weight: normal;
    margin-top: 1px;
}

.profile-description {
    font-size: 14px;
}

.profile-span {
    display: block;
}

.profile-actions {
    padding-top: 30px;
    padding-bottom: 30px;

}

.profile-button {
    background-color: #5dade2; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 15px 40px;
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer; 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Футер */

.profile-footer {
    width: 100%; 
    background-color: #2a3261 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 10px 10px; 
}

.profile-footer-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-brands{
    color: rgb(170, 101, 76);
    font-size: 24px;
}

.fa-regular{
    color: rgb(170, 101, 76);
    font-size: 24px;
}


.separator {
    width: 1px;
    height: 80px;
    background-color: rgb(91, 91, 173);;
}

.profile-footer-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: rgb(0, 0, 0);
}


.profile-footer-info {
    font-size: 14px;
    color: rgb(170, 101, 76);
}


.profile-footer-number {
    font-size: 14px;
    text-align: center;
    color: #fff;
    padding-top: 5px;
}
