body{
    display: flex;
    justify-content: center;
    text-align: center;
}

.card {
    width: 500px;
    height: 400px;
    border: 1px solid darkblue;
    border-radius: 10px;
}
.card-info {
}

.card-bookmark {
    width: 10px;
    height: 10px;
}

.card-girl{
    width: 120px; 
    height: 120px;
    border-radius: 50%; 
    border: 2px solid gray;
    padding: 3px;
    box-shadow: 2px 2px 2px rgb(201, 187, 187) ;
}
.card-title {
}
.card-title-info {
}
.card-btn {
}